# Foldery PyInstallera i cache Pythona
build/
dist/
__pycache__/
*.spec

# Baza danych i pliki tymczasowe
match_cache.db
debug_screenshot.png
chromedriver.exe

# Pliki konfiguracyjne z sekretami
config.py

# Ustawienia edytora
.vscode/